[color]
    ui = true

[user]
    name = Nicholas Fong
    email = nickfong@users.noreply.github.com

[alias]
    # Add
    a = add
    au = add -u
    aa = add -A

    # Commit
    ca = commit -a
    cas = commit -aS
    ci = commit
    cis = commit -S
    cm = commit -m
    cms = commit -mS
    cam = commit -am
    cams = commit -amS
    cia = commit --amend
    cias = commit --amend -S

    # Info
    st = status
    sts = status -sb
    stsu = status -sb -uno
    sh = show
    d = diff
    dc = diff --cached
    ls = ls-files
    alias = config --get-regexp ^alias\\.
    ign = ls-files -o -i --exclude-standard         # Ignored files

    # Log
    lg = log -p
    lgs = log --stat
    lgps = log -p --stat
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lolas = log --graph --decorate --pretty=oneline --abbrev-commit --all --simplify-by-decoration
    slol = log --graph --decorate --pretty=oneline --abbrev-commit --show-signature
    slola = log --graph --decorate --pretty=oneline --abbrev-commit --all --show-signature
    slolas = log --graph --decorate --pretty=oneline --abbrev-commit --all --simplify-by-decoration --show-signature

    # Remotes
    rv = remote -v
    ra = remote add
    rrm = remote rm
    rrn = remote rename

    # Pull/push
    pr = pull --rebase
    p = push
    # The equivalent of a pull --rebase --force
    # 1. stash
    # 2. pull --rebase
    # 3. stash apply
    prf = "!func() { git stash; git pull --rebase; git stash apply; {; func"

    # Branches
    br = branch
    co = checkout
    cob = checkout -b
    brlrm = branch -d                               # branch local rm
    brlrmf = branch -D                              # branch local rm, force
    brrrm = push origin --delete                    # branch remote rm
    bp = fetch -p                                   # prune branches deleted from origin

    # Rebase/Merge
    r = rebase
    ri = rebase -i
    ri2 = rebase -i HEAD~2
    rc = rebase --continue
    ra = rebase --abort
    mt = mergetool
    mnf = merge --no-ff
    fancymerge = "!func() { set -e; git checkout $1; git pull --rebase origin $1; git checkout master; git pull --rebase origin master; git merge --no-ff $1; set +e; }; func"
    rebasemaster = "!func() { set -e; git checkout $1; git pull --rebase origin $1; git rebase master; git push --force; }; func"

    # Set upstream
    su = branch -u

    urd = update-ref -d

    # Bisect
    bis = bisect start
    bb = bisect bad
    bg = bisect good

[core]
    excludesfile = .gitignore_global
    autocrlf = input
    editor = vim
    pager = less -R

[push]
    default = current

[diff]
    tool = vimdiff

[difftool]
    prompt = true

[merge]
    tool = vimdiff

[status]
    relativePaths = false

